<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
<title>AUTO</title>
</head>
<body>
    <header>
    <img src="../static/3.png" width="120" height="70"> <p1>AUTOMOBILE</p1> <img src="../static/2.png" width="120" height="70">

    <form method="POST" action="/">
            <input type="text" name="harp">
        </form>
        {% if session['username'] %}
            <a href="/profile">
                <img src="../static/4.png" alt="profile icon" width="40" height="40" class='prof'></a>
            <a href="/logout" class="prof">LOGOUT</a>
        {% else %}
            <a href="/login" class='prof'>LOGIN</a>
        <a href="/register"class='prof'>Retij</a>
        {% endif %}    
    </header>    
        <a href="/static/auto1.html" class="style-li">Ttttt</a>

<div class="table-container">
        <table>
        <tr>
            <th><h4>Марка и модель</h4></th>
            <th><h3>Расход</h3></th>
            <th><h3>Цилиндры</h3></th>
            <th><h4>Объём двигателя</h4></th>
            <th><h3>Мощность</h3></th>
            <th><h3>Масса</h3></th>
            <th><h3>Ускорение</h3></th>
            <th><h3>Год выпуска</h3></th>
            <th><h3>Производство</h3></th>
            <th><h3>Цена</h3></th>
        </tr>
        {% for name, mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin, price in automobile %}
        <tr>
            <td><p>{{ name }}</p></td>
            <td><p>{{ mpg }}</p></td>
            <td><p>{{ cylinders }}</p></td>
            <td><p>{{ displacement }}</p></td>
            <td><p>{{ horsepower }}</p></td>
            <td><p>{{ weight }}</p></td>
            <td><h3>{{ acceleration }}</h3></td>
            <td><h3>{{ model_year }}</h3></td>
            <td><h3>{{ origin }}</h3></td>
            <td><p>{{ price }}</p></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>