<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
<title>AUTO</title>
</head>
<body>
    <header>
    <img src="../static/3.png" width="120" height="70"> <p1>AUTOMOBILE</p1> <img src="../static/2.png" width="120" height="70">
   
    <formal method="POST" action="/">
            <input type="text" name="harp">
        </formal>
    </header>

    <table>
        <tr>
            <th><h2>Марка и модель</h2></th>
            <th><h2>Расход</h2></th>
            <th><h2>Цилиндры</h2></th>
            <th><h2>Объём двигателя</h2></th>
            <th><h2>Мощность</h2></th>
            <th><h2>Масса</h2></th>
            <th><h2>Ускорение</h2></th>
            <th><h2>Год выпуска</h2></th>
            <th><h2>Производство</h2></th>
            <th><h2>Цена</h2></th>
        </tr>
        {% for name, mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin, price in automobile %}
        <tr>
            <td><p>{{ name }}</p></td>
            <td><p>{{ mpg }}</p></td>
            <td><p>{{ cylinders }}</p></td>
            <td><p>{{ displacement }}</p></td>
            <td><p>{{ horsepower }}</p></td>
            <td><p>{{ weight }}</p></td>
            <td><h3>{{ acceleration }}</h3></td>
            <td><h3>{{ model_year }}</h3></td>
            <td><h3>{{ origin }}</h3></td>
            <td><p>{{ price }}</p></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>